# Task1

In [2]:
print('This is my First Line of Code in Jupyter Notebook')

This is my First Line of Code in Jupyter Notebook

In [14]:
Seq=[]
for n in range(2000,3201):
    if n%7==0:
        if n%5!=0:
            Seq.append(n)
            
print('numbers which are divisible by 7 but are not a multiple of 5 \n')
print(Seq)

numbers which are divisible by 7 but are not a multiple of 5

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [18]:
f_name=input ('Enter your Fisrt Name :')
l_name=input ('Enter your Last Name :')
print ( 'Your Full Name is ',f_name,'',l_name)
print ( 'Your Full Name in reverse order is ',l_name[::-1],'',f_name[::-1])

Enter your Fisrt Name :abc
Enter your Last Name :xyz
Your Full Name is  abc  xyz
Your Full Name in reverse order is  zyx  cba

In [21]:
import math
diameter=12
radius=diameter/2
V=4/3*math.pi*(radius**3)
print('Volume of Sphere is',V)

Volume of Sphere is 904.7786842338603

# Task2

In [24]:
inpt_num=input('please enter your numbers separating with commas')
splitlst = inpt_num.split(',')
print(splitlst)

please enter your numbers separating with commas1,2,3,4,5
['1', '2', '3', '4', '5']

In [34]:
for i in range(0, 5):
    for j in range(0, i+1):
        print("* ",end="")
    print()
for i in range(0, 5):
    for j in range(4, i, -1):
        print("* ", end="")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [27]:
inpt=input ('Enter your Last Name :')
print ( 'Input word: ',inpt)
print ( 'Output: ',inpt[::-1])

Enter your Last Name :AcadGild
Input word:  AcadGild
Output:  dliGdacA

In [25]:
print("WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN,! \n\t\tSOCIALIST,SECULAR,DEMOCRATIC REPUBLIC \n\t\t and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST,SECULAR,DEMOCRATIC REPUBLIC
		 and to secure to all its citizens